---
---

<div class="text-colorBlack uppercase lg:text-base text-xs text-center space-y-10">
  <p class="font-semibold lg:text-xl text-base">CHECK YOUR EMAIL FOR THE SUBSCRIPTION CONFIRMATION.</p>
  <p>
    BEFORE YOU GO, <span class="font-semibold lg:text-xl text-base">JUST ONE LAST THING.</span>
  </p>
  <p>
    IN ORDER FOR THE TRIGGER OF OUR EXCHANGE OF VALUE TO ARRIVE IN YOUR INBOX
    EVERYDAY, PLEASE <span class="font-semibold lg:text-xl text-base text-colorOrange">HIT THE REPLY BUTTON IN THE CONFIRMATION EMAIL.</span> THE RESPONSE IS UP TO YOUR CHOICE.
  </p>
  <p>
    THIS ACTION WILL MAKE SURE THE EMAIL WILL NOT <span class="font-semibold lg:text-xl text-base"
      >END UP IN YOUR SPAM FOLDER.</span
    > BOTH OF US DON&apos;T WANT THIS TO HAPPEN.
  </p>
</div>
