---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import SuccessBanner from '@/components/success/success-banner.astro'
import SuccessMessage from "@/components/success/success-message.astro";
---

<Layout title="The Alter Ego">
  <main
    class="flex w-screen lg:h-screen h-full min-h-screen p-24 justify-center items-center"
  >
    <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-80 gap-40">
        <SuccessBanner />
        <SuccessMessage />
    </div>
  </main>
</Layout>
